/*----------------------------BASE------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: res/hojas.avif
}

/*----------------------------TÍTULO PRINCIPAL------------------------*/
h1 {
    text-align: center;
    width: 80%;
    margin: 50px auto;
    color: rgb(255, 255, 255);
}

/*----------------------------FONDO DEGRADADO OSCURO------------------------*/
body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../res/hojas.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*----------------------------GALERIA CON ESTILO DE CAJAS------------------------*/
.galeria {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

/*----------------------------IMAGENES DE LA GALERIA------------------------*/
.galeria img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
    outline: 3px solid #FFF;
    border-radius: 8px;
}

.galeria img:hover {
    transform: scale(1.2);
}


/*----------------------------PIE DE PAGINA SIN FONDO------------------------*/
#pie {
    color: #ffffff;
    background: transparent;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
    font-family: inherit;
    font-size: 0.95rem;
}
